# datasets
*.csv

# large generated datasets (uitgesloten)
# flowsure_artifacts/  <-- niet meer uitgesloten, modellen worden meegecommit

# notebook cache
.ipynb_checkpoints/

# mac files
.DS_Store

# python cache
__pycache__/
*.pyc
